/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('img/6.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Círculo no canto superior esquerdo */
.circulo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('img/Natalia.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 12px rgb(248, 248, 248);
}

/* Header */
header {
    background-color: rgba(113, 228, 248, 0.8);
    color: white;
    padding: 30px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Painel com Opções */
.painel-opcoes-container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

/* Estilo para cada painel */
.opcao {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
}

/* Estilos específicos para os paineis */
.painel-1 { background-image: url('img/3.png'); }
.painel-2 { background-image: url('img/6.png'); }
.painel-3 { background-image: url('img/4.png'); }
.painel-4 { background-image: url('img/8.png'); }
.painel-5 { background-image: url('img/c3.png'); }

/* Título do painel */
.opcao h2 {
    color: #000000fa;
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
}

/* Seções */
section {
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    color: rgb(8, 0, 0);
    display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Classe para exibir a seção */
.conteudo-visivel {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 768px) {
    .painel-opcoes-container {
        flex-direction: column;
        align-items: center;
    }

    .opcao {
        width: 100%;
    }
}
