/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('img/6.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Círculo no canto superior esquerdo */
.circulo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('img/Natalia.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Header */
header {
    background-color: rgba(113, 228, 248, 0.8);
    color: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Painel de Opções */
.painel-opcoes-container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    overflow-x: auto; /* Permite rolagem horizontal em telas menores */
    white-space: nowrap; /* Garante que os painéis fiquem em uma única linha */
}

/* Estilo para cada opção com imagem de fundo */
.opcao {
    min-width: 180px;
    height: 160px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.painel-1 { background-image: url('img/4.png'); }
.painel-2 { background-image: url('img/2.png'); }
.painel-3 { background-image: url('img/3.png'); }
.painel-4 { background-image: url('img/5.png'); }
.painel-5 { background-image: url('img/c2.png'); }

.opcao h2 {
    font-size: 1.2em;
}

/* Seções com conteúdo */
section {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    color: rgb(8, 0, 0);
    display: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Classe para exibir a seção */
.conteudo-visivel {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Ajustes de Responsividade */
@media (max-width: 768px) {
    .opcao {
        min-width: 150px; /* Reduz a largura mínima para caber mais opções em telas menores */
        height: 140px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .opcao h2 {
        font-size: 1em;
    }

    .circulo {
        width: 60px;
        height: 60px;
    }
}
